@charset "utf-8";

.addbg13 { position: absolute; left: 50%; top:0%; top:350px; width:865px; height:55px ; margin-left:-565px;

        backgr/ound:url(../images/bg1_main_title.png) no-repeat;background-size:contain; opacity: 0; transition: all 1s;}
.addbg14 { position: absolute;  left:50% ; width:80%; margin: 0 0 0 -40%; color:#b9b9b9; color:#666; line-height:40px; font-size:15px;

        backgr/ound: url(../images/bg1_main_title1.png) no-repeat; opacity: 0; transition: all 1.7s; bottom: 90px\0;}